@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Teko',
    sans-serif;
}